TravelAgency/Web References/localhost/FlightService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="buscarVuelos">
        <s:complexType />
      </s:element>
      <s:element name="buscarVuelosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarVuelosResult" type="tns:ArrayOfVuelo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVuelo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="vuelo" nillable="true" type="tns:vuelo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="vuelo">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="aerolinea" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="origen" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="destino" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="avion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="salida" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="llegada" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="estado" nillable="true" type="s:byte" />
              <s:element minOccurs="0" maxOccurs="1" name="aerolinea1Reference" type="tns:EntityReferenceOfaerolinea" />
              <s:element minOccurs="0" maxOccurs="1" name="aeropuertoReference" type="tns:EntityReferenceOfaeropuerto" />
              <s:element minOccurs="0" maxOccurs="1" name="aeropuerto1Reference" type="tns:EntityReferenceOfaeropuerto" />
              <s:element minOccurs="0" maxOccurs="1" name="avion1Reference" type="tns:EntityReferenceOfavion" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityReferenceOfaerolinea">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:complexType name="EntityReferenceOfavion">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfaeropuerto">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="insertarClase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarClaseResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="buscarVuelosSoapIn">
    <wsdl:part name="parameters" element="tns:buscarVuelos" />
  </wsdl:message>
  <wsdl:message name="buscarVuelosSoapOut">
    <wsdl:part name="parameters" element="tns:buscarVuelosResponse" />
  </wsdl:message>
  <wsdl:message name="insertarClaseSoapIn">
    <wsdl:part name="parameters" element="tns:insertarClase" />
  </wsdl:message>
  <wsdl:message name="insertarClaseSoapOut">
    <wsdl:part name="parameters" element="tns:insertarClaseResponse" />
  </wsdl:message>
  <wsdl:portType name="FlightServiceSoap">
    <wsdl:operation name="buscarVuelos">
      <wsdl:input message="tns:buscarVuelosSoapIn" />
      <wsdl:output message="tns:buscarVuelosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarClase">
      <wsdl:input message="tns:insertarClaseSoapIn" />
      <wsdl:output message="tns:insertarClaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightServiceSoap" type="tns:FlightServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarVuelos">
      <soap:operation soapAction="http://tempuri.org/buscarVuelos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarClase">
      <soap:operation soapAction="http://tempuri.org/insertarClase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FlightServiceSoap12" type="tns:FlightServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarVuelos">
      <soap12:operation soapAction="http://tempuri.org/buscarVuelos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarClase">
      <soap12:operation soapAction="http://tempuri.org/insertarClase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightService">
    <wsdl:port name="FlightServiceSoap" binding="tns:FlightServiceSoap">
      <soap:address location="http://localhost:3737/FlightService.asmx" />
    </wsdl:port>
    <wsdl:port name="FlightServiceSoap12" binding="tns:FlightServiceSoap12">
      <soap12:address location="http://localhost:3737/FlightService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>